h2, h3{
    text-align: center;
}
.header{
    background-color: #E7E9EB;
    padding: 2px 10px;
}
.user-list{
    text-decoration: none;
}

.button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.w3-display-container{
    display: flex;
    justify-content: space-between;
}
.w3-container{
    margin-left: 15%;
}
.form_content{
    width: 37%;
    margin-left: 35%;
    margin-top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.User-button{
    margin-left: 623px;
}

.footer{
    background-color: #E7E9EB;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 360px;
    position: relative;
}